body {
background-color:cyan;
}
table, th, td {
  border:1px solid black;
  border-collapse:collapse;
}
img {
  width:100px;
}
h1 {
  color:green;
  text-align:center;
}
p {
  text-align:right;
}
div.sticky{
  position:sticky;
  background-color:red;
  top:10px;
}
div.abs {
  position:absolute;
  left:100px;
  top:100px;
  width:300px;
  height:100px;
  background-color:yellow;
}
